@import './styles/variables.css';

/* Reset & Global Styles */
* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0 0 var(--spacing-md);
  color: var(--color-secondary);
}

input {
  padding: 10px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  color: var(--color-text);
}

input:focus {
  border-color: var(--color-primary-dark);
}
